# Clusters CSV File Merge

In [1]:
import os
import pandas as pd

In [2]:
path='../dataset/clusters_csv/'
items=os.listdir('../dataset/clusters_csv/')

In [3]:
all_filenames = [path+i for i in items]

In [4]:
all_filenames[0:5]

['../dataset/clusters_csv/150703-clusters.csv',
 '../dataset/clusters_csv/150716-clusters.csv',
 '../dataset/clusters_csv/150806-clusters.csv',
 '../dataset/clusters_csv/150811-clusters.csv',
 '../dataset/clusters_csv/150814-clusters.csv']

In [5]:
#Column names to be added
column_names=["Number Of Cases","Street Address","Latitude","Longitude",
              "Cluster Number","Recent Cases In Cluster","Total Cases In Cluster","Date","Month Number"]

In [6]:
#Read one csv file and check the data
file_1 = pd.read_csv("../dataset/clusters_csv/150703-clusters.csv",header=None,names=column_names)
file_1

,Number Of Cases,Street Address,Latitude,Longitude,Cluster Number,Recent Cases In Cluster,Total Cases In Cluster,Date,Month Number
0,4,bishan street 22 (block 232),1.358286,103.845226,1,24,83,150703,7
1,7,bishan street 22 (block 233),1.358639,103.845259,1,24,83,150703,7
2,3,bishan street 22 (block 234),1.358390,103.845955,1,24,83,150703,7
3,1,bishan street 22 (block 235),1.358719,103.846477,1,24,83,150703,7
4,4,bishan street 22 (block 236),1.359041,103.846849,1,24,83,150703,7
...,...,...,...,...,...,...,...,...,...
130,1,woodlands drive 14 (block 515),1.434931,103.790309,40,2,2,150703,7
131,1,yishun avenue 2 (block 791),1.420556,103.833469,41,2,2,150703,7
132,1,yishun ring road (block 796),1.419719,103.833325,41,2,2,150703,7
133,1,yishun avenue 4 (block 653),1.423180,103.839630,42,2,2,150703,7
134,1,yishun street 61 (block 645),1.421930,103.838195,42,2,2,150703,7

In [7]:
#Combine all csv files
combined_csv = pd.concat([pd.read_csv(f,header=None,names=column_names) for f in all_filenames],ignore_index=True)

In [8]:
#Output the combined csv file
combined_csv.to_csv( "../all_clusters.csv", index=False, encoding='utf-8-sig')